body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 200;
}

.overlay {
    background: rgba(100, 100, 100, 0.51);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #95cfeb;
    z-index: 300;
    padding: 20px 30px;
    border-radius: 10px;
    width: 450px;
    height: 600px;
    text-align: left;
    animation: popupAnimation 0.2s ease-out forwards;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 8px;
}

.clear-modal {
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 8px;
}

.submit-modal {
    position: absolute;
    bottom: 10px;
    left: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    padding: 4px 8px;
}

.submit-modal:hover {
    background-color: rgb(0, 0, 220);
}

.clear-modal:hover {
    background-color: rgb(220, 220, 220);
}

.close-modal:hover {
    background-color: rgb(220, 220, 220);
}




.row {
    display: flex;
    align-items: center;
}

.header {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px
}

.main-header {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 40px;
}

.textbox {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
  }
.textbox:focus {
    border: 2px solid rgb(0, 163, 196);
}

.textbox-num {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
  }
.textbox-num:focus {
    border: 2px solid rgb(0, 163, 196);
}

.selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
  }

.selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

.day-button {
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    aspect-ratio: 1 / 1;
    margin: 5px;
  }

.random-text {
    font-size: 12px;
    margin-left: 15px;
}

.random-text2 {
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
}

.random-text3 {
    font-size: 14px;
    margin-left: 60px;
    font-weight: bold;
}

.hour-selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
}

.hour-selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

.hour-selector::-webkit-scrollbar {
    width: 0;
}

.minute-selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
}


.minute-selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

  
  