body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal{
    position: fixed;
    background: rgba(46, 46, 46, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background: #95cfeb;
    border-radius: 8px;
    z-index: 300;
    padding: 20px 30px;
    border-radius: 10px;
    width: 450px;
    height: 600px;
    text-align: left;
    animation: boringAnimation .3s ease-out forwards;
}

@keyframes boringAnimation {
    0% {
        transform: scale(.0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ohdear {
    0% {
      transform: translate(50%,-80%) scale(0) rotateZ(0deg);
      opacity: 0;
    }
    12% {
        transform: translate(-50%, -40%) scale(.12) rotateZ(225deg);
        opacity: .12;
    }
    25% {
        transform: translate(-80%, -20%) scale(.25) rotateZ(450deg);
        opacity: .25;
    }
    38% {
        transform: translate(-60%, 25%) scale(.38) rotateZ(675deg);
        opacity: .38;
    }
    50% {
        transform: translate(0%, 40%) scale(.50) rotateZ(900deg);
        opacity: .50;
    }
    62% {
        transform: translate(60%, 25%) scale(.62) rotateZ(1125deg);
        opacity: .62;
    }
    75% {
        transform: translate(80%, -20%) scale(.75) rotateZ(1350deg);
        opacity: .75;
    }
    88% {
        transform: translate(50%, -40%) scale(.88) rotateZ(1575deg);
        opacity: .88;
    }
    100% {
      transform: translate(0%, 0%) scale(1) rotateZ(1800deg);
      opacity: 1;
    }
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.4s;
}

.clear-modal {
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.4s;
}

.submit-modal {
    position: absolute;
    bottom: 10px;
    left: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: rgb(255, 255, 121);
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.4s;
}

.submit-modal:hover {
    background-color: yellow;
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.clear-modal:hover {
    background-color: rgb(220, 220, 220);
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.close-modal:hover {
    background-color: rgb(220, 220, 220);
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}




.row {
    display: flex;
    align-items: center;
}

.header {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px
}

.main-header {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 40px;
}

.textbox {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
  }
.textbox:focus {
    border: 2px solid rgb(0, 163, 196);
}

.textbox-num {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
  }
.textbox-num:focus {
    border: 2px solid rgb(0, 163, 196);
}

.selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
  }

.selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

.day-button {
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    aspect-ratio: 1 / 1;
    margin: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.4s;
}

.day-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.random-text {
    font-size: 12px;
    margin-left: 15px;
}

.random-text2 {
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
}

.random-text3 {
    font-size: 14px;
    margin-left: 60px;
    font-weight: bold;
}

.hour-selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
    margin-left: 15px;
}

.hour-selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

.hour-selector::-webkit-scrollbar {
    width: 0;
}

.minute-selector {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    border: 2px solid lightgray;
}


.minute-selector:focus {
    border: 2px solid rgb(0, 163, 196);
}

  
  