.button1 {

    color: #F1F9EC;
    aspect-ratio: auto 1 / 1;
    padding: 1px 1px;
    background-color: #1769c0;
    border: none;
    font-size: 3em;
    border-radius: 50%;
    text-align: center;
    width: 7%;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 15px; /* Adjust this value as needed to shift the button down */
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}