.todayButton {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    margin: 10px 0;
    background-color:#BF9270;
    border-color: black;
    color: black;
    border: 20px;
    border-radius: 8px;
    position: relative;
    left: 2.5%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.todayButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
