/* App.css */
body {
    background-color: #efefef;
  }
  
  .signin {
    background-color: #ffffff;
    border-radius: 10px;
    height: 70px;
    width: 100px;
    font-weight: bold;
    font-size: large;
    margin-top: 50%;
  }
  
  .signin:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .title {
    margin-top: 2%;
  }
  
  .Home {
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    position: absolute;
    border: 5px solid #7b98ff;
    height: 700px; /* Adjust based on screen size if necessary */
    width: 1200px; /* Adjust based on screen size if necessary */
    padding: 10px;
    font-family: Urbanist;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .circlesContainer {
    position: relative;
    width: 100%; /* Ensure it spans the full width of its parent */
    height: 600px; /* Adjust based on your design */
  }
  
  .circle, .circle2, .circle3, .circle4, .circle5, .circle6 {
    position: absolute;
  }
  
  .circle {
    top: -350%;
    left: 20%;
  }
  
  .circle2 {
    top: -200%;
    left: 90%;
  }
  
  .circle3 {
    top: -180%;
    left: -5%;
  }
  
  .circle4 {
    top: 60%;
    left: 10%;
  }
  
  .circle5 {
    top: 30%;
    left: 60%;
  }
  
  .circle6 {
    top: 20%;
    left: 100%;
  }
  .circle, .circle2, .circle3, .circle4, .circle5, .circle6 {
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg, white, #1769c0, black);
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite;
  }
  
  .hithere {
    animation: hithere 3s ease infinite;
  }
  
  @keyframes hithere {
    15% { transform: scale(1.1); }
    20%, 30% { transform: rotate(-10deg) scale(1.1); }
    25% { transform: rotate(10deg) scale(1.1); }
    35% { transform: rotate(0deg) scale(1.1); }
    50% { transform: scale(1); }
  }
  

  .mediconImage {
    width: 100px;
    height: 100px;
    display: block;
    margin: 12% auto 0;
  }
  