body{
    background-color: #efefef;
}
.signin{
   
  background-color: #ffffff;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  font-weight: bold;
  font-size: large;
  margin-top: 5%;

}
.signin:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.05);
    cursor: pointer;
  }

.title{
    margin-top: 2%;
}

.circle{
    margin-top: 10%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
 
}

.circle2{
    margin-top: 0%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
    margin-left: 85%;
    margin-right: 25%;
 
}

.circle3{
    margin-top:-80%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
    margin-left: 10%;
    margin-right: 35%;
 
}
.circle4{
    margin-top: 0%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
    margin-left:80%;
    margin-right: 45%;
 
}

.circle5{
    margin-top: -0%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
    margin-left: -15%;
    margin-right: 50%;
 
}

.circle6{
    margin-top: 10%;
    width: 100px;
    height: 100px;
    background: linear-gradient(132deg,white,#1769c0, black);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    animation: BackgroundGradient 30s ease infinite; 
    margin-left: 85%;
    margin-right: 25%;
 
}
.Home {
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    position: absolute; /* Changed from relative to absolute */
    border: 5px solid #7b98ff;
    height: 700px;
    width: 1200px;
    padding: 10px;
    font-family: Urbanist;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; /* This will center the element */
    /* Ensure the element's box size includes padding and border */
    box-sizing: border-box;
    border-radius: 20px;
}

.mediconImage {
    width: 100px;
    height: 100px;
    display: block; /* Ensures the image is block-level, which can help with alignment */
    margin: 12% auto 0; /* Adds 20px of space above the icon and centers it horizontally */
    /* Additional styling such as border-radius, box-shadow, etc. */
}

