
.signin{
    background-color: white;
    border-radius: 10px;
    height: 70px;
    width: 100px;
    font-weight: bold;
    font-size: large;
    margin-top: 5%;  
}

.signin:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.05);
    cursor: pointer;
  }
  
.title{
    margin-top: 20px;
    font-size: 50px;
}

.slogan {
    text-align: center;
    margin: 10px 0;
}

body {
    background-color: #efefef;
}
.Home {
    background-color: white;
    height: auto;
    width: 80%;
    border: 5px solid #7b98ff;
    font-size: 35px;
    font-family: Urbanist;
    text-align: center;
    position: relative;
    top: 15vh;
    bottom: 0;
    margin: auto;
    border-radius: 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 400px;
    min-height: 500px; 
}

.mediconImage {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
    display: block; 
    margin: 20px auto 0;
}

/* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
    .Home {
        width: 100%;
    }
}

@media (min-width: 769px) {
    /* .circle{
        margin-top: 10%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
    
    } */

    /* .circle2{
        margin-top: 0%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
        margin-left: 85%;
        margin-right: 25%;
    
    }

    .circle3{
        margin-top:-80%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
        margin-left: 10%;
        margin-right: 35%;
    
    }
    .circle4{
        margin-top: 0%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
        margin-left:80%;
        margin-right: 45%;
    
    }

    .circle5{
        margin-top: -0%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
        margin-left: -15%;
        margin-right: 50%;
    
    }

    .circle6{
        margin-top: 10%;
        width: 100px;
        height: 100px;
        background: linear-gradient(132deg,white,#1769c0, black);
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        animation: BackgroundGradient 30s ease infinite; 
        margin-left: 85%;
        margin-right: 25%;
    
    }  */
}

