/* Default styles for all circles */
.circle, .circle2, .circle3, .circle4, .circle5, .circle6 {
    position: absolute;
    width: 80px;
    aspect-ratio: auto 1/1;
    background: linear-gradient(132deg, white, #1769c0, black);
    border-radius: 50%;
    z-index: 1; /* Set a higher z-index */
}

.circle {
    margin-top: 25%;
    margin-left: 40%;
}

.circle2 {
    margin-top: -5%;
    margin-left: 70%;
}

.circle3 {
    margin-top: -35%;
    margin-left: 25%;
}

.circle4 {
    margin-top: -25%;
    margin-left: -30%;
}

.circle5 {
    margin-top: 35%;
    margin-left: -25%;
}

.circle6 {
    margin-top: 15%;
    margin-left: -75%;
}

/* @media (min-width: 769px) {

}  */
/* Media query for screens smaller than 769px */
@media (max-width: 768px) {
    .circle, .circle2, .circle3, .circle4, .circle5, .circle6 {
        display: none; 
        
    }
}
