/* Dashboard Layout and Header */
.dashboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  font-family: Urbanist;
}

.dashboard-header {
  position: relative;
  display: flex;
  justify-content: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: #1769c0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.header-content h1 {
  margin: 0; /* Removes default margin */
  font-size: 3rem; /* Adjusts the size */
  color: #ffffff; /* Sets the text color */
  /* Add more styling as needed */
}

.dashboard-main {
  margin-top: 60px;
  text-align: center;
}

/* Sign-out Button */
.sign-out {
  position: relative;
  background-color: #ffffff;
  border-color: #BF9270;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: x-large;
  border: none;
  transition: all 0.25s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 45px;
  min-width: 140px;
  margin-left: auto;
  margin-right: 3%;
  font-family: Urbanist;
}

/* Arrow Navigation */
.arrow-right, .arrow-left {
  position: relative;
  background-color: #ffffff;
  border-color: #BF9270;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: x-large;
  border: none;
  transition: all 0.25s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.arrow-right {
  right: -25%;
  top: -30%;
}

.arrow-left {
  left: -34%;
  top: -30%;
}

.arrow-left:hover, .arrow-right:hover, .sign-out:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*today button*/
.todayButton {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  margin: 10px 0;
  background-color:#ffffff;
  border-color: black;
  color: black;
  border: 20px;
  border-radius: 8px;
  position: relative;
  left: 3.6%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.4s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Urbanist;
}

.todayButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*notification toggle button*/
.notifButton {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color:#ffffff;
  border-color: black;
  color: black;
  border: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.4s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
}

.notifButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Misc */
.alignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}